/* Resume */

#resume {

	.link-to {
		position: relative;
		top: -4.5em;
	}

	.link-container h4 {
		text-decoration:none;
		border-bottom: none;
		display: inline-flex;
		a {
			padding: 0.0em .5em;
			margin: 0;
		}
	}

	.education {
		.title {
			text-align: center;
		}
	}
	.activity {
		.title {
			text-align: center;
		}
	}
	.internship {
		.title {
			text-align: center;
		}
	}
}



@include breakpoint(small) {
	.course-dot {
		display: none;
	}
	.course-container a{
		display: block;
	}
}
