.article-container {
  position: relative;
}

.essay {
  width: 100%;

  .h3 {
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0 0.5em 0;
  }

  .button {
    width: 100%;
    border: #2e59ba;
  }

  .p {
    margin-bottom: 15px;
    text-align: justify;
  }

  .count {
    text-align: center;
    margin: 0 0 0 0;
    font-family: Chalkduster, fantasy;
    font-size: 0.9em;
  }
}

